Техническое задание
Разработать программу, позволяющую шифровать и расшифровывать текст с использованием шифра Цезаря.

Программа должна поддерживать несколько режимов работы:
1) Шифрование текста
2) Расшифровка текста с помощью ключа
3) РАсшифровка текста с помощью brute force (перебор всех вариантов)

Опционально:
- добавить графический интерфейс пользователя
- расшифровка с помощью статистического анализа текста






Результат
Результат: программа работает в нескольких режимах

обеспечивать обработку больших файлов
иметь валидацию входных данных